@charset "ISO-8859-1";
html{
    margin: 0;
    font-size: 20px;
    line-height: 1em;
    font-family: 'latobold_italic';
}

.pic{
    background-image: url(images/map2.png);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    width: 900px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.parkimg{
    display: flex;
    margin: 10px;
    flex-grow: 1;
    justify-content: center;
}

button{
    margin: 100px 100px;
    padding: 100px 100px;
    background-color: transparent;
    text-decoration: none;
    font-size: 1em;
    opacity : 0.2;

    
}

button:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
}